@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.nav-1 {
    overflow: hidden;
    height: 80px;
    background-color: #33b1b5d5;
    display: flex;
    justify-content:center; 
    font-family: 'Poppins';
    z-index: 10003;
  }
 
  .nav-1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-1 li {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 20px; 
  }
  
  .nav-1 a {
    text-decoration: none;
    color: white;
    padding: 24px 32px;
    font-weight: 400;
  }
/*   
  .nav-1 a:hover {
    background-color: rgba(206, 206, 201, 0.742);
    color: #6280b9;
  } */