.bookP-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}

.bookP {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imgP-container {
    flex-shrink: 0;
}

.imgP-container img {
    width: 300px;
    max-height: 500px;
    border-radius: 10px;
    object-fit: cover;
}
.imgP-container p{
    margin-left: 13px;
    font-size: 16px;
}

.bookP_status {
    width: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
}

.bookP_status label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.bookP_status select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background-color: #fdbe01;
    cursor: pointer;
}

.textP-section {
    margin-left: 30px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.bookP-title h2 {
    margin: 0;
    font-size: 40px;
}

.bookP-author,
.bookP-genre,
.bookP-description {
    margin: 10px 0;
}

.bookP-author p,
.bookP-genre p,
.bookP-description p {
    margin: 0;
    font-size: 16px;
    color: #555;
}
