.bookP-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}

.bookP {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imgP-container {
    flex-shrink: 0;
}

.imgP-container img {
    width: 300px;
    max-height: 500px;
    border-radius: 10px;
    object-fit: cover;
}
.imgP-container p{
    margin-left: 13px;
    font-size: 16px;
}

.bookP_status {
    width: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
}

.bookP_status label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.bookP_status select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    color: #ffffff;
    border-radius: 25px;
    background-color: #fdbe01;
    cursor: pointer;
}

.textP-section {
    margin-left: 30px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.bookP-title h2 {
    margin: 0;
    font-size: 40px;
}

.bookP-author,
.bookP-genre,
.bookP-description {
    margin: 10px 0;
}

.bookP-author p,
.bookP-genre p,
.bookP-description p {
    margin: 0;
    font-size: 16px;
    color: #555;
}

.ml-button-cont button {
    background-color: #fdbe01;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ml-button-cont button:hover {
    background-color: #fca500;
}

.recommendations-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recommendations-list {
    display: flex;
    flex-wrap: wrap;
}

.recommended-book {
    max-width: 200px; 
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recommended-book img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.book-details {
    padding: 10px;
}

.book-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.book-author {
    color: #666;
}

