
.page-container {
  margin-top: 100px;
  margin-left: 250px;
  display: flex;
  width: 70%;
  max-width: 1200px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.container_cl {
  flex: 1;
  padding: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title {
  margin-bottom: 20px;
}

.user_login, .pass_login {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
  width: 35%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 16px;
}

button[type="submit"] {
  width: 17.5%;
  margin-left: 8.75%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  background-color: #00ff6c;
  color: white;
  font-size: large;

}

button:hover {
  background-color: #16e26b;
}

.error {
  color: red;
  margin-top: 10px;
}

.register-link {
  background: linear-gradient(135deg, #00aaff, #0ffc72);
  margin-top: -350px;
  margin-left: 550px;
  margin-right: -40px;
  margin-bottom: -40px;
  height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
  text-align: center;
}


.register-link h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

.register-link p {
  margin-bottom: 120px;
}

.register-link .reg-button button {
  background-color: white;
  color: #00aaff;
  font-weight: bold;
  margin-top: 20px;
}

.register-link .reg-button button:hover {
  background-color: #00ff6c;
  color: white;
}

.register-link a {
  color: inherit;
  text-decoration: none;
}
