body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0; 
    background: url('https://img.freepik.com/premium-photo/vintage-book-magnifying-glass-light-blue-background-education-background-world-books-day_609048-2470.jpg');
    background-size: cover;
}

.register-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative; /* Ensure it is positioned relative to the body */
    z-index: 1; /* Ensure it's above the background */
}

.register-header {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-label {
    margin-bottom: 5px;
    color: #555;
}

.register-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.register-button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer; 
    width: 30%;
}

.register-button:hover {
    background-color: #4cae4c;
}

.register-input:focus {
    border-color: #5cb85c;
    outline: none;
}

.error {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}